<h1>Contestants</h1>
<% @contestants.each do |contestant| %>
  # create div with id for feature testing within blocks
  <div id="contestant-<%= contestant.id %>">
    <h3><%= contestant.name %></h3>
    <p>Projects: <%= contestant.all_projects %></p>
  </div>
<% end %>